/* 
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('https://images.app.goo.gl/cAEXSansKEthBuWCA') no-repeat center center fixed;
  background-size: flex;
  z-index: 1;
  overflow-x: hidden; 
} */

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

nav {
  background-color: rgb(4,4,124); /* Adjust the color and transparency here */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav .logo img {
  height: 50px; /* Set a specific height for the logo */
  width: auto;  /* Maintain the aspect ratio */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.0rem; /* Add space between the navigation items */
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white; 
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background 0.3s ease, color 0.3s ease;
  border-radius: 5px; /* Rounded corners for links */
}

nav ul li a:hover {
  color: rgb(241, 3, 3); /* Change text color on hover */
}


.container-contactus {
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.chairperson, .manager, .staff, .committee h2 {
  color: #2c3e50;
  border-bottom: 2px solid #2c3e50;
  padding-bottom: 10px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile img {
  width: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.details h3 {
  margin-top: 0;
  color: #34495e;
}

.details p {
  margin: 5px ;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
