nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

/* nav .logo img {
  height: 50px; 
  width: auto;  
} */





.container-contactus {
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.chairperson, .manager, .staff, .committee h2 {
  color: #2c3e50;
  border-bottom: 2px solid #2c3e50;
  padding-bottom: 10px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile img {
  width: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.details h3 {
  margin-top: 0;
  color: #34495e;
}

.details p {
  margin: 5px ;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
