  /* ManageStudent.css */
.manage-student-container {
  padding: 20px;
  background-color: #f4f7fc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  font-size: 24px;
  color: #003049;
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.input-field {
  padding: 10px;
  border: 1px solid #003049;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
}

.input-field:focus {
  outline: none;
  border-color: #fdf0d5;
}

.submit-button {
  padding: 12px;
  border: none;
  background-color: #003049;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #669bbc;
}

.search-container {
  max-width: 400px;
  margin: 20px auto;
}

.search-field {
  padding: 10px;
  border: 1px solid #003049;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.users-table th,
.users-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #003049;
}

.users-table th {
  background-color: #003049;
  color: white;
}

.users-table td {
  background-color: #f9f9f9;
}

.users-table tr:nth-child(even) {
  background-color: #f1f1f1;
}

.users-table tr:hover {
  background-color: #e2e2e2;
}

.export-button {
  padding: 12px;
  border: none;
  background-color: #669bbc;;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.export-button:hover {
  background-color: #c1121f;
}

@media (max-width: 768px) {
  .form-container {
    max-width: 100%;
  }

  .search-container {
    max-width: 100%;
  }

  .users-table th,
  .users-table td {
    padding: 8px;
  }
}



/* StudentD Details  */
/* Modal for field selection */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  padding: 10px;
  background-color: #003049;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #fdf0d5;
}
